{% extends "layout.njk" %}

{% block head %}
<title>Foodfy | Sobre</title>
{% endblock %}

 {% block content%}

  <div class="sobre-foodfy">
    <h1>Sobre o Foodfy</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum non massa sed elementum. Vestibulum sagittis orci vel ipsum pharetra, sed gravida lorem vulputate. Nunc posuere porttitor felis non hendrerit. Quisque fermentum metus at felis consectetur
      ullamcorper. Maecenas id orci non mi lobortis convallis sed aliquet ante. Etiam quis pharetra tellus, vitae sagittis metus. Proin interdum gravida ipsum. Praesent semper interdum neque. Cras id nisl et massa feugiat vulputate sit amet at tortor.
      Aliquam erat volutpat. Integer luctus porta felis vitae mollis. Nullam mi lacus, dignissim vel ipsum in, accumsan pretium turpis. Nulla sit amet diam eu tortor varius eleifend. Nam lobortis urna vel nisi laoreet, ut rhoncus augue iaculis. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus at lacus nisl.
    </p>
    <p> Phasellus venenatis blandit feugiat. Nam semper sapien ut elementum commodo. Nam mi augue, rhoncus a mollis ut, hendrerit eu arcu. Fusce diam nisl, dapibus quis dignissim consectetur, iaculis eu metus. Nulla ligula quam, cursus id sollicitudin quis,
      tempus et arcu. Aenean congue id lacus ac tincidunt. Donec condimentum lacus vel odio vehicula, at finibus nunc imperdiet. Sed porta sagittis velit vel fringilla. Morbi aliquam mattis dictum. Ut dui metus, elementum eget arcu quis, condimentum mattis
      mauris. Pellentesque laoreet elit non dui ultrices viverra. Morbi aliquam maximus diam eu tempus. Nulla ac fringilla orci. Donec ultricies, orci eu tincidunt elementum, ipsum quam auctor mauris, et lobortis nisl dui non leo.
    </p>

    <h2>Como tudo começou...</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum non massa sed elementum. Vestibulum sagittis orci vel ipsum pharetra, sed gravida lorem vulputate. Nunc posuere porttitor felis non hendrerit. Quisque fermentum metus at felis consectetur
      ullamcorper. Maecenas id orci non mi lobortis convallis sed aliquet ante. Etiam quis pharetra tellus, vitae sagittis metus. Proin interdum gravida ipsum. Praesent semper interdum neque. Cras id nisl et massa feugiat vulputate sit amet at tortor.
      Aliquam erat volutpat. Integer luctus porta felis vitae mollis. Nullam mi lacus, dignissim vel ipsum in, accumsan pretium turpis. Nulla sit amet diam eu tortor varius eleifend. Nam lobortis urna vel nisi laoreet, ut rhoncus augue iaculis. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus at lacus nisl.
    </p>
    <p> Phasellus venenatis blandit feugiat. Nam semper sapien ut elementum commodo. Nam mi augue, rhoncus a mollis ut, hendrerit eu arcu. Fusce diam nisl, dapibus quis dignissim consectetur, iaculis eu metus. Nulla ligula quam, cursus id sollicitudin quis,
      tempus et arcu. Aenean congue id lacus ac tincidunt. Donec condimentum lacus vel odio vehicula, at finibus nunc imperdiet. Sed porta sagittis velit vel fringilla. Morbi aliquam mattis dictum. Ut dui metus, elementum eget arcu quis, condimentum mattis
      mauris. Pellentesque laoreet elit non dui ultrices viverra. Morbi aliquam maximus diam eu tempus. Nulla ac fringilla orci. Donec ultricies, orci eu tincidunt elementum, ipsum quam auctor mauris, et lobortis nisl dui non leo.
    </p>

    <h2>Nossas receitas</h2>
    <p>
      Nulla facilisi. Nam elementum blandit purus eget faucibus. Suspendisse potenti. Sed dictum dolor id turpis viverra luctus. Nullam venenatis semper placerat. Duis sit amet metus volutpat, vehicula nisi a, consectetur lacus. Nulla volutpat neque ut magna
      pretium porttitor. Curabitur sit amet rhoncus dolor. In ut cursus dolor. Sed ligula nisi, sollicitudin at vulputate et, finibus eu eros. Donec molestie scelerisque sodales. Nulla at arcu in tellus egestas lobortis. Pellentesque pellentesque laoreet
      auctor. Integer odio justo, elementum non viverra eget, fermentum feugiat odio. Curabitur in pharetra libero. Quisque iaculis enim id lobortis finibus.
    </p>
  </div>

  {% endblock %}