{% extends "layout.njk"%} {% block content %}
  <div id="receitas">
    <div class="title-receitas">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>

    <div class="img-receitas">
      <img src="/assets/chef.png" alt="">
    </div>
  </div>

  <div class="cards__title">
    <h1>Mais acessadas</h1>
  </div>
  <div id="cards">
    <div class="card">
      <div class="card__image">
        <img src="{{recipes[0].image_url}}" alt="">
      </div>
      <div class="card__title">
        <h3>{{recipes[0].title}}</h3>
        <p>por {{recipes[0].author}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card__image">
        <img src="{{recipes[1].image_url}}" alt="">
      </div>
      <div class="card__title">
        <h3>{{recipes[1].title}}</h3>
        <p>por {{recipes[1].author}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card__image">
        <img src="{{recipes[2].image_url}}" alt="">
      </div>
      <div class="card__title">
        <h3>{{recipes[2].title}}</h3>
        <p>por {{recipes[2].author}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card__image">
        <img src="{{recipes[3].image_url}}" alt="">
      </div>
      <div class="card__title">
        <h3>{{recipes[3].title}}</h3>
        <p>por {{recipes[3].author}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card__image">
        <img src="{{recipes[4].image_url}}" alt="">
      </div>
      <div class="card__title">
        <h3>{{recipes[4].title}}</h3>
        <p>por {{recipes[4].author}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card__image">
        <img src="{{recipes[5].image_url}}" alt="">
      </div>
      <div class="card__title">
        <h3>{{recipes[5].title}}</h3>
        <p>por {{recipes[5].author}}</p>
      </div>
    </div>
  </div>

  {% endblock %}