{% extends "layout_admin.njk" %}

{% block head %}
<title>Foodfy | Receitas</title>
{% endblock head %}

{% block content %}

<div id="content">
  <section class="more_access">
    <div class="create_recipes">
      <h2>Gerenciar Receitas</h2>
      <a href="/admin/create">Criar nova receita</a>
    </div>
    <div class="cardsAdmin">
      {% for recipe in recipes %}
      <div class="card">
        <div class="card_img">
          <div class="card__img">
            <img src="{{recipe.image_url}}" alt="Imagem de {{recipe.title}}">
          </div>
          <h4>{{recipe.title}}</h4>
          <p class="author">por {{recipe.author}}</p>
          <p>
            <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>

{% endblock content %}