{% extends "layout.njk" %}

{% block content %}
<div class="card">
  
  <section class="avatar" style="background: url({{student.avatar_url}}) no-repeat center center / cover">
  </section>

  <section class="details">
    <form method="POST" action="/students?_method=PUT">

    <H3>Editar Aluno</H3>

    {% include 'students/fields.njk' %}

    <input 
    type="hidden"
    name="id"
    value={{student.id}}
    >
    <div class="btn">
          <button class="btn-save" type="submit">Salvar</button>
          <button form="form-delete" class="btn-del" type="submit">Deletar</button>
        </div>
</form>

  <form id="form-delete" action="/students?_method=DELETE" method="POST">

  <input 
    type="hidden"
    name="id"
    value={{student.id}}
    >
    
    
  </form>

  {% include 'students/confirm.njk' %}

  </section>

</div>

{% endblock content%}