{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">
  <div class="header">
  <a class="button" href="/students/create">Novo</a>
  <form action="/students" method="GET">
  <input
      type="text"
      name="filter"
      placeholder="Nome ou e-mail"
      value={{filter}}
      >
      <button type="submit">Filtrar</button>
  </form>

  </div>
  <table width="100%">
    <thead>
      <tr>
        <th>Nome completo</th>
        <th>E-mail</th>
        <th>Ano escolar</th>
        <th>Professor</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>
          <span style="background-image: url({{student.avatar_url}})"></span>
          {{student.name}}
        </td>
     
        <td class="student_details"><a href="mailto:{{student.email}}">{{student.email}}</a></td>
        <td class="student_details">{{student.school_year}}</td>
        <td class="student_details">{{student.teacher_name}}</td>
        <td><a href="/students/{{student.id}}">ver</a></td>
      </tr>

      {% endfor %}
    </tbody>
  </table> 

  <div class="pagination"
      data-page={{pagination.page}}
      data-total={{pagination.total}}
      data-filter={{filter}}
  ></div>

</div>
{% endblock content%}